$background: #E5E5E5;
@import 'bootstrap/dist/css/bootstrap.min.css';

.layout{
    background-color: $background;
}

.homePage{
   header{
    width: 100%;
    height: 100px;
   }
   .main{
     display: flex;
   } 
}